// TROQUE O .example DESTE AQUIVO POR .ts OU 
// CRIE OUTRO ARQUIVO NESTE DIRETÓRIO COM NOME discord.auth.ts E COLE ESTAS INFORMAÇÕES

// ACESSE https://discord.com/developers/application
// NEW APPLICATION -> DÊ UM NOME PARA O APP -> OK
// VÁ EM OAUTH2 -> REDIRECTS -> ADD
// VÁ EM URL GENERATOR -> [x] identify [x] email [x] connections [x] guilds
// PEGUE A URL QUE FOI GERADA E IDENTIFIQUE AS SEGUINTES INFORMAÇÕES

const REDIRECT_URI = '';
const SCOPE = '';
const RSPONSE_TYPE = 'token';
const CLIENT_ID = '';
const CDN_IMAGE = 'https://discordapp.com';

export {
  REDIRECT_URI,
  SCOPE,
  RSPONSE_TYPE,
  CLIENT_ID,
  CDN_IMAGE,
};